@import url('https://fonts.googleapis.com/css?family=Orbitron:400,500');

.custom.controller {
    width: 1900px;
    height: 360px;
    font-family: 'Orbitron', sans-serif;
}

.custom .bumper.pressed:after, .custom .button.pressed:after{
    background: red;
    color: black;
    border-color: black;
    transition: none
}

.custom .stick{
    width: 20px;
    height: 20px;
    background: #f45f42;
    display: inline-block;
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

.custom .bumper:after, .custom .button:after{
    position: absolute;
    display: inline-block;
    background: black;
    border: 2px solid hsla(193, 97%, 27%, 1);
    color: hsla(193, 97%, 27%, 1);
    font-size: 12px;
    font-weight: 500;
    padding: 10px;
    border-radius: 25px;
    text-align: center;
    white-space: nowrap;
    transition: 5s all linear
}

/* - END COMMON STUFF - */
.custom .sticks{
    width: 135px;
    height: 135px;
    display: inline-block;
    position: relative;
    background: black;
    border: 2px solid #000000;
    border-radius: 15px;
    background-image: linear-gradient(0deg, transparent 48%, #000000 49%, #000000 50%, #000000 51%, transparent 52%, transparent), linear-gradient(90deg, transparent 48%, #000000 49%, #000000 50%, #000000 51%, transparent 52%, transparent);
    top: calc(195px);
    right: -100%;
    transform: translateX(-100%);
    background-size: calc(100% - 15px) 100%, 100% calc(100% - 15px);
    background-repeat: no-repeat;
    background-position: center;
    padding: 2px;
}

.custom .sticks:before{
    content: "PITCH";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #000000;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
}

.custom .sticks:after{
    content: "ROLL";
    display: inline-block;
    position: absolute;
    font-size: 15px;
    color: #000000;
    top: 50%;
    right: calc(80% + 1.25em);
    transform-origin: center;
    transform: translateY(-50%) rotate(-90deg);
}

.custom .stick.left{
    top: 50%;
    left: 50%;
}

/*Hiding the unused stick*/
.custom .stick.right{
    display: none
}

.custom .bumpers{
    position: absolute;
    top: 0;
    left: 0;
}

.custom .abxy{
    position: absolute;
    width: 100%;
    top: 0;
}

/* FA Button */
.custom .bumper.right:after{
    content: "FA";
    left: 68px;
    top: 45px;
    word-wrap: normal;
    width: 49px;
    transition: none
}
/* FA Button when set to off */
.custom .bumper.right.pressed:after{
    content: "FA OFF";
}

/*Chaff Button*/
.custom .button.y:after{
    content: "CHAFF";
    right: 80px;
    top: 0px
}